<%= turbo_frame_tag 'quiz-start', class: 'extend' do %>
  <div class="quiz card">
    <span class="material-icons timer">timer</span>
    <div class="question-collection">
      <% if question.present? %>
        <%= render "shared/quiz/question", { question: question } %>
        <div class="answer-collection">
          <% question.choices.each do |choice| %>
            <%= form_with model: user_quiz_session do |user_quiz_session| %>
              <%= user_quiz_session.fields_for :question do |question| %>
                <%= question.fields_for :choice do |f| %>
                  <span class="answer card">
                    <%= question.hidden_field :id, value: choice.question.id %>
                    <%= f.hidden_field :is_correct, value: choice.is_correct %>
                    <%= f.submit choice.text %>
                  </span>
                <% end %>
              <% end %>
            <% end %>
          <% end %>
        </div>
        <div class="remaining-count">
          <span class="current"><%= current(question) %></span>
          /
          <span class="total"><%= total(user_quiz_session) %></span>
        </div>
      <% else %>
        <h3> Thank you </h3>
      <% end %>
    </div>
  </div>
<% end %>