<div class="auth-container">
  <div class="login card">
    <%= render 'shared/logo' %>
    <h2>Forgot your password?</h2>

    <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { class: "login-form", method: :post }, data: { turbo: false }) do |f| %>
      <%= render "devise/shared/error_messages", resource: resource %>

      <div class="field">
        <%= f.label :email %>
        <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
      </div>

      <div class="actions">
        <button type="submit" class="start">
          <span>Email me the instructions</span>
          <span class="material-icons">
          send
        </span>
        </button>
      </div>
    <% end %>

    <%= render "devise/shared/links" %>
  </div>
</div>
