<div class="user">
  <div class="name">
    <span class="avatar"><img src="https://avatars.dicebear.com/api/pixel-art/<%=current_user.id%>.svg"/></span>
    <span><%= current_user.name %></span>
  </div>
  <%= link_to destroy_user_session_path, data: { turbo_method: :delete } do %>
    <button class="exit">
      <span>Exit</span>
      <span class="material-icons">
      logout
    </span>
    </button>
  <% end %>

  <%= turbo_stream_from 'reset' %>
  <%= render 'shared/quiz/reset_quiz', quiz: quiz %>
</div>
