<!DOCTYPE html>
<html>
  <head>
    <title>QuizTurbo</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
    <% if current_user.present? %>
      <%= current_user.email %>
      <%= link_to 'Log out', destroy_user_session_path, data: { turbo_method: :delete } %>
      <%= link_to 'Dashboard', static_pages_dashboard_path %>
    <% else %>
      <%= link_to 'Register', new_user_registration_path %>
      <%= link_to 'Login', new_user_session_path %>
    <% end %>
    <%= link_to 'Home', root_path %>
    <%= yield %>
  </body>
</html>
